@import 'tailwindcss';

html,
body {
  overflow-x: hidden;
}

.font-archivo {
  font-family:
    'Archivo',
    ui-sans-serif,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

@keyframes fall {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(200px);
    opacity: 1;
  }
}

.animate-fall {
  animation: fall 0.5s forwards;
}

/* Remove animation when not in view to allow retriggering */
#falling-image:not(.animate-fall) {
  animation: none;
}
