<section id="artistas" class="flex h-[75vh] w-full">
  <div class="relative flex w-1/2 flex-col items-center justify-end bg-cyan-950 pb-6 md:pb-8">
    <h2
      class="font-archivo text-[22vw] leading-none tracking-tight text-amber-50 md:text-[17vw] lg:text-[14vw] xl:text-[12vw]"
    >
      WORKS
    </h2>
    <a href="#contacto" class="font-archivo mt-2 text-lg text-amber-50 underline">Saber más</a>
  </div>
  <div class="relative w-1/2 bg-zinc-100">
    <div class="absolute inset-0 flex items-center justify-center">
      <div class="relative h-[78%] w-[66%]">
        <img
          src="/images/works_1.png"
          alt="Proyecto"
          class="absolute top-[18%] left-[20%] z-10 h-[40%] w-[35%] object-cover"
        />
        <img
          src="/images/works_1.png"
          alt="Proyecto"
          class="absolute top-[4%] left-[36%] z-30 h-[45%] w-[38%] object-cover"
        />
        <img
          src="/images/works_1.png"
          alt="Proyecto"
          class="absolute top-[20%] right-[18%] z-20 h-[37%] w-[34%] object-cover"
        />
        <img
          src="/images/works_1.png"
          alt="Proyecto"
          class="absolute bottom-[7%] left-[27%] z-40 h-[40%] w-[36%] object-cover"
        />
        <img
          src="/images/works_1.png"
          alt="Proyecto"
          class="absolute right-[17%] bottom-[10%] z-50 h-[38%] w-[35%] object-cover"
        />
      </div>
    </div>
    <div class="absolute top-0 right-6 pt-10 md:right-5 md:pt-14">
      <span
        class="font-archivo inline-block text-base text-zinc-900 [writing-mode:vertical-rl] md:text-lg lg:text-2xl"
      >
        Tripulación
      </span>
    </div>
  </div>
</section>
