<section id="conoceme" class="ml-12 flex pt-16 pb-0 md:ml-16 md:pt-24 md:pb-0 lg:ml-20 xl:ml-24">
  <div class="flex flex-1 flex-col p-10 text-left text-xl">
    <p class="mb-4">
      Mi pasión por la música viene prácticamente de nacimiento, ya que mis padres se conocieron
      en una coral. Desde pequeño, he vivido rodeado de música, tanto a nivel pasional como
      formativo, tomando clases de piano, guitarra y solfeo durante toda mi infancia y
      adolescencia.
    </p>
    <p class="mb-4">
      Durante la adolescencia inicié mis primeros proyectos musicales, como artista e intérprete.
      Algunas de estas bandas siguen vigentes a día de hoy. Pese a que mi arranque universitario y
      laboral fue en el mundo empresarial, poco a poco mi carrera fue girando hacia la música,
      pasando por Ticketmaster, hasta llegar a graduarme con honores, en
      <strong>Producción Músical en Barcelona, en la escuela Microfusa.</strong>
    </p>
    <p class="mb-4">
      En 2022, después de finalizar mis estudios en Microfusa y mudarme a Mallorca, decidí dar el
      paso a abrir mi propio estudio de música, lo que ahora ya conocéis como Estudi Norai. En
      esta etapa, he podido acompañar a artistas de muchas maneras, en proyectos maravillosos.
      Además, tengo la suerte de estar ligado a la música también como artista (Norai), intérprete
      (FincaMusicBand, Fonoll…), organizador de eventos (Rodautors) e incluso como profesor de
      guitarra y producción.
    </p>
  </div>
  <div class="relative flex min-h-[50vh] flex-1 flex-col md:min-h-[60vh]">
    <img src="/images/conoceme.png" alt="Timonel" class="h-full w-full object-cover" />
    <div class="absolute inset-0 flex items-end justify-center pb-6 md:pb-8">
      <h2 class="font-archivo text-4xl text-white md:text-5xl lg:text-6xl xl:text-7xl">
        CONÓCEME
      </h2>
    </div>
    <div class="absolute top-0 right-6 pt-16 md:top-0 md:right-5 md:pt-15">
      <span
        class="font-archivo inline-block text-base text-white [writing-mode:vertical-rl] md:text-lg lg:text-2xl"
      >
        Timonel
      </span>
    </div>
  </div>
</section>
