<section id="intro" class="pt-20 pb-8">
  <div class="mx-auto max-w-5xl px-6 sm:px-8 lg:px-12">
    <p class="text-center text-[25px] leading-[32px]">
      Estudi Norai es un espacio de <strong>acompañamiento musical Km0</strong> en el centro de Palma
      de Mallorca. Como el Norai amarra las embarcaciones a puerto, este es el punto de anclaje para
      tu proyecto musical.
      <span class="block"
        >Un espacio donde las ideas toman forma y encuentran su propio ritmo.</span
      >
    </p>
    <p class="mt-6 text-center">
      <a href="#contacto" class="group relative font-bold text-[25px]"
        >Contacta ya<span
          class="absolute bottom-0 left-0 h-px w-0 bg-current transition-all duration-300 group-hover:w-full"
        ></span></a
      >
    </p>
  </div>
  <div class="mt-6 flex justify-center">
    <div class="h-25 w-px bg-black"></div>
  </div>
</section>
