<section id="material" class="h-[45vh] w-full bg-amber-50 px-8 py-10 md:px-12 md:py-12">
  <div class="flex justify-end text-right">
    <div>
      <h2 class="font-archivo text-3xl text-zinc-800 md:text-4xl">
        Instrumentos y material disponible
      </h2>
      <a href="#contacto" class="font-archivo mt-1 inline-block text-lg text-zinc-700 underline"
        >Saber más</a
      >
    </div>
  </div>
</section>
