<section
  id="servicios"
  class="mx-4 flex flex-col gap-4 pb-14 sm:mx-6 md:mx-16 md:flex-row md:gap-0 md:pb-20 lg:mx-20 xl:mx-24"
>
  <div class="flex flex-1 flex-col">
    <div class="h-[36vh] bg-gray-200 md:h-[60vh]">
      <img src="/images/prod_musical.jpg" class="h-full w-full object-cover" />
    </div>
    <div
      class="flex min-h-[5.75rem] items-center justify-center border bg-white p-5 text-center transition-colors duration-300 hover:bg-cyan-950 hover:text-white md:h-[10rem] md:p-6"
    >
      <p class="text-xl md:text-2xl">Acompañamiento y Producción musical</p>
    </div>
  </div>
  <div class="flex flex-1 flex-col">
    <div class="h-[36vh] bg-gray-200 md:h-[60vh]">
      <img src="/images/mezcla_mastering.jpg" class="h-full w-full object-cover" />
    </div>
    <div
      class="flex min-h-[5.75rem] items-center justify-center border bg-white p-5 text-center transition-colors duration-300 hover:bg-cyan-950 hover:text-white md:h-[10rem] md:p-6"
    >
      <p class="text-xl md:text-2xl">Mezcla y mastering</p>
    </div>
  </div>
  <div class="flex flex-1 flex-col">
    <div class="flex h-[36vh] flex-col bg-amber-50 p-5 text-center md:h-[60vh] md:p-10">
      <div class="mt-auto px-2 md:px-4">
        <img src="/images/logo_simple.svg" alt="Estudi Norai" class="mx-auto w-full max-w-md" />
        <p class="tracking mt-4 text-center text-3xl md:text-4xl">SESSIONS</p>
      </div>
    </div>
    <div
      class="flex min-h-[5.75rem] items-center justify-center border bg-white p-5 text-center transition-colors duration-300 hover:bg-cyan-950 hover:text-white md:h-[10rem] md:p-6"
    >
      <p class="text-xl md:text-2xl">Grabación de videoclip en directo</p>
    </div>
  </div>
  <div class="flex flex-1 flex-col">
    <div class="h-[36vh] bg-gray-200 md:h-[60vh]">
      <img src="/images/composicion.jpg" class="h-full w-full object-cover" />
    </div>
    <div
      class="flex min-h-[5.75rem] items-center justify-center border bg-white p-5 text-center transition-colors duration-300 hover:bg-cyan-950 hover:text-white md:h-[10rem] md:p-6"
    >
      <p class="text-xl md:text-2xl">Composición de canciones personalizadas</p>
    </div>
  </div>
  <div class="flex flex-1 flex-col">
    <div class="h-[36vh] bg-gray-200 md:h-[60vh]">
      <img src="/images/formacion.jpg" class="h-full w-full object-cover" />
    </div>
    <div
      class="flex min-h-[5.75rem] items-center justify-center border bg-white p-5 text-center transition-colors duration-300 hover:bg-cyan-950 hover:text-white md:h-[10rem] md:p-6"
    >
      <p class="text-xl md:text-2xl">Mezcla y mastering</p>
    </div>
  </div>
</section>
