<section id="servicios" class="mx-12 flex pb-20 md:mx-16 lg:mx-20 xl:mx-24">
  <div class="flex flex-1 flex-col">
    <div class="h-[60vh] bg-gray-200">
      <img src="/images/prod_musical.jpg" class="h-full w-full object-cover" />
    </div>
    <div
      class="flex flex-1 cursor-pointer justify-center border bg-white p-6 transition-colors duration-300 hover:bg-cyan-950 hover:text-white"
    >
      <p class="text-center text-2xl">Acompañamiento y Producción musical</p>
    </div>
  </div>
  <div class="flex flex-1 flex-col">
    <div class="h-[60vh] bg-gray-200">
      <img src="/images/mezcla_mastering.jpg" class="h-full w-full object-cover" />
    </div>
    <div
      class="flex flex-1 cursor-pointer justify-center border bg-white p-6 transition-colors duration-300 hover:bg-cyan-950 hover:text-white"
    >
      <p class="text-center text-2xl">Mezcla y mastering</p>
    </div>
  </div>
  <div class="flex flex-1 flex-col">
    <div class="flex h-[60vh] flex-col bg-amber-50 p-10 text-center">
      <div class="mt-auto px-4">
        <img src="/images/logo.svg" alt="Estudi Norai" class="mx-auto w-full max-w-md" />
        <p class="tracking mt-4 text-center text-3xl md:text-4xl">SESSIONS</p>
      </div>
    </div>
    <div
      class="flex flex-1 cursor-pointer justify-center border bg-white p-6 transition-colors duration-300 hover:bg-cyan-950 hover:text-white"
    >
      <p class="text-center text-2xl">Grabación de videoclip en directo</p>
    </div>
  </div>
  <div class="flex flex-1 flex-col">
    <div class="h-[60vh] bg-gray-200">
      <img src="/images/composicion.jpg" class="h-full w-full object-cover" />
    </div>
    <div
      class="flex flex-1 cursor-pointer justify-center border bg-white p-6 transition-colors duration-300 hover:bg-cyan-950 hover:text-white"
    >
      <p class="text-center text-2xl">Composición de canciones personalizadas</p>
    </div>
  </div>
  <div class="flex flex-1 flex-col">
    <div class="h-[60vh] bg-gray-200">
      <img src="/images/formacion.jpg" class="h-full w-full object-cover" />
    </div>
    <div
      class="flex flex-1 cursor-pointer justify-center border bg-white p-6 transition-colors duration-300 hover:bg-cyan-950 hover:text-white"
    >
      <p class="text-center text-2xl">Mezcla y mastering</p>
    </div>
  </div>
</section>
