<section id="servicios" class="mx-12 flex pb-20 md:mx-16 lg:mx-20 xl:mx-24">
  <div class="flex flex-1 flex-col">
    <div class="h-[60vh] bg-gray-200">
      <img src="/images/composicion.jpg" class="h-full w-full object-cover" />
    </div>
    <div
      class="flex flex-1 cursor-pointer justify-center border bg-white p-6 transition-colors duration-300 hover:bg-cyan-950 hover:text-white"
    >
      <p class="text-center text-2xl">Acompañamiento y Producción musical</p>
    </div>
  </div>
  <div class="flex flex-1 flex-col">
    <div class="flex h-[60vh] flex-col justify-between bg-amber-50 p-10 text-center">
      <p class="mb-4 text-4xl">Acompañamiento musical</p>
      <div class="px-4">
        <h2 class="text-4xl md:text-5xl lg:text-6xl xl:text-7xl">
          <span class="block">PRODU</span>
          <span class="block">CCIÓN</span>
        </h2>
      </div>
    </div>
    <div
      class="flex flex-1 cursor-pointer justify-center border bg-white p-6 transition-colors duration-300 hover:bg-cyan-950 hover:text-white"
    >
      <p class="text-center text-2xl">Grabación de videoclip en directo</p>
    </div>
  </div>
  <div class="flex flex-1 flex-col">
    <div class="h-[60vh] bg-gray-200">
      <img src="/images/formacion.jpg" class="h-full w-full object-cover" />
    </div>
    <div
      class="flex flex-1 cursor-pointer justify-center border bg-white p-6 transition-colors duration-300 hover:bg-cyan-950 hover:text-white"
    >
      <p class="text-center text-2xl">Formación Musical</p>
    </div>
  </div>
  <div class="flex flex-1 flex-col">
    <div class="h-[60vh] bg-gray-200">
      <img src="/images/mezcla.jpg" class="h-full w-full object-cover" />
    </div>
    <div
      class="flex flex-1 cursor-pointer justify-center border bg-white p-6 transition-colors duration-300 hover:bg-cyan-950 hover:text-white"
    >
      <p class="text-center text-2xl">Mezcla y Mastering</p>
    </div>
  </div>
</section>
