<section
  id="spotify"
  class="mx-8 my-10 flex items-center justify-center rounded-2xl bg-white px-6 py-10 md:mx-12 md:my-14 md:min-h-[50vh] md:px-8 lg:mx-16 xl:mx-20"
>
  <div class="w-full max-w-3xl">
    <iframe
      title="Spotify Player"
      src="https://open.spotify.com/embed/playlist/37i9dQZF1DXcBWIGoYBM5M?utm_source=generator"
      class="h-[152px] w-full sm:h-[232px] md:h-[352px]"
      frameborder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"></iframe>
  </div>
</section>
